a[href^="http"] {
	text-decoration:	none;
	color:			#fbfdfd;
	padding:		2px;
	transition:		0.1s ease;
}

a:hover[href^="http"] {
	background:		#8bbda7;
	transition:		0.1s ease;
}

::selection {
	background:		rgba(75,97,87,0.2); /* #4b6157 */
}

::-moz-selection {
	background:		rgba(75,97,87,0.2); /* #4b6157 */
}

body {
	font-size:		1.4em;
	font-family:		'Bitter', serif;
	line-height:		165%;
	background:		#88cabe;
	color:			#406b63;
}

body, html {
	height:			100%;
}

/* Smartphones */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	font:			2.5em;
}