@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light dark;
		--background: 0, 0%, 100%;
		--primary: 24.3, 1%, 1%;
		--secondary: 24.3, 77.2%, 48.2%;
		--muted: 24.3, 3%, 40%;
		--highlight: 14.3, 77.2%, 55%;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--background: 24, 1%, 11%;
			--primary: 20, 99%, 99%;
			--secondary: 20, 100%, 50%;
			--muted: 20, 5%, 75%;
			--input: 20, 3%, 20%;
		}
	}

	@font-face {
		font-family: akkurat-mono;
		font-weight: 400;
		src: url("/fonts/akkuratmono-regular.woff2") format("woff");
	}
	@font-face {
		font-family: 'GT Sectra';
		font-weight: 900;
		src: url("/fonts/GT-Sectra-Black.woff") format("woff");
	}
	@font-face {
		font-family: 'GT Sectra';
		font-weight: 700;
		src: url("/fonts/GT-Sectra-Bold.woff") format("woff");
	}
}

#subscribe {
	& picture {
		@apply w-[50%] max-w-[200px];
		margin-top: -7px;
	}
	@media screen and (min-width: 768px) {
		& div, & picture {
			grid-row: 1 / 2;
			align-self: center;
		}

		& picture {
			@apply w-auto mt-0;
			grid-column: 9 / 13;
		}

		& div {
			grid-column: 1 / 10;
		}

	}
}

a {
	@apply decoration-clone text-th-secondary border-b-2 border-transparent hover:border-th-secondary;
}

figure > div {
	padding: 56.25% 0 0 0;
	position: relative;
}

.markdown {
	@apply text-base md:text-lg leading-normal font-sans;

	& > * + *,  & li > p + p {
		@apply mt-6;
	}
	& a {
		@apply break-words break-all;
		& code {
			@apply border-b-2 border-transparent hover:border-th-secondary;
		}
	}
	& strong {
		@apply font-bold;
	}
	& h2 {
		@apply leading-tight text-xl font-bold text-th-primary mb-2 mt-10;
	}
	& h3 {
		@apply leading-tight text-lg font-bold text-th-primary mt-8 -mb-2;
	}
	& code {
		@apply font-mono text-sm inline px-2 py-1 break-all;
		background-color: hsl(24.3, 3%, 96.5%);

		@media (prefers-color-scheme: dark) {
			background-color: hsl(24.3, 3%, 6.5%);
		}
	}
	& pre > code {
		background-color: rgba(0,0,0,0);
	}
	& pre {
		@apply block p-4 md:p-5 md:-mx-5 rounded overflow-scroll;
	}
	& blockquote {
		@apply border-l-4 md:px-5 p-2 px-4 md:-mx-5 italic overflow-scroll bg-gray-700 bg-opacity-25 rounded;
	}
	& ul, & ol {
		@apply pl-5 sm:pl-6;
	}
	& li + li {
		@apply mt-2;
	}
	& ul {
		@apply list-disc;
	}
	& ol {
		@apply list-decimal;
	}
	& figure > figcaption {
		@apply text-th-muted text-sm italic mt-2;
	}
}

/* Background */ .chroma { color: #4d4d4c; background-color: hsl(24.3, 3%, 96.5%);}
/* Other */ .chroma .x { color: #4d4d4c }
/* Error */ .chroma .err { color: #c82829 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%; background-color: #d6d6d6 }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .k { color: #8959a8 }
/* KeywordConstant */ .chroma .kc { color: #8959a8 }
/* KeywordDeclaration */ .chroma .kd { color: #8959a8 }
/* KeywordNamespace */ .chroma .kn { color: #8959a8 }
/* KeywordPseudo */ .chroma .kp { color: #8959a8 }
/* KeywordReserved */ .chroma .kr { color: #8959a8 }
/* KeywordType */ .chroma .kt { color: #c82829 }
/* Name */ .chroma .n { color: #4271ae }
/* NameAttribute */ .chroma .na { color: #4271ae }
/* NameBuiltin */ .chroma .nb { color: #4271ae }
/* NameBuiltinPseudo */ .chroma .bp { color: #c82829 }
/* NameClass */ .chroma .nc { color: #4271ae }
/* NameConstant */ .chroma .no { color: #f5871f }
/* NameDecorator */ .chroma .nd { color: #f5871f }
/* NameEntity */ .chroma .ni { color: #4271ae }
/* NameException */ .chroma .ne { color: #4271ae }
/* NameFunction */ .chroma .nf { color: #4271ae }
/* NameFunctionMagic */ .chroma .fm { color: #4271ae }
/* NameLabel */ .chroma .nl { color: #4271ae }
/* NameNamespace */ .chroma .nn { color: #4271ae }
/* NameOther */ .chroma .nx { color: #4271ae }
/* NameProperty */ .chroma .py { color: #4271ae }
/* NameTag */ .chroma .nt { color: #8959a8 }
/* NameVariable */ .chroma .nv { color: #4271ae }
/* NameVariableClass */ .chroma .vc { color: #4271ae }
/* NameVariableGlobal */ .chroma .vg { color: #4271ae }
/* NameVariableInstance */ .chroma .vi { color: #c82829 }
/* NameVariableMagic */ .chroma .vm { color: #4271ae }
/* Literal */ .chroma .l { color: #718c00 }
/* LiteralDate */ .chroma .ld { color: #718c00 }
/* LiteralString */ .chroma .s { color: #718c00 }
/* LiteralStringAffix */ .chroma .sa { color: #718c00 }
/* LiteralStringBacktick */ .chroma .sb { color: #718c00 }
/* LiteralStringChar */ .chroma .sc { color: #718c00 }
/* LiteralStringDelimiter */ .chroma .dl { color: #718c00 }
/* LiteralStringDoc */ .chroma .sd { color: #718c00 }
/* LiteralStringDouble */ .chroma .s2 { color: #718c00 }
/* LiteralStringEscape */ .chroma .se { color: #718c00 }
/* LiteralStringHeredoc */ .chroma .sh { color: #718c00 }
/* LiteralStringInterpol */ .chroma .si { color: #a3685a }
/* LiteralStringOther */ .chroma .sx { color: #718c00 }
/* LiteralStringRegex */ .chroma .sr { color: #3e999f }
/* LiteralStringSingle */ .chroma .s1 { color: #718c00 }
/* LiteralStringSymbol */ .chroma .ss { color: #f5871f }
/* LiteralNumber */ .chroma .m { color: #f5871f }
/* LiteralNumberBin */ .chroma .mb { color: #f5871f }
/* LiteralNumberFloat */ .chroma .mf { color: #f5871f }
/* LiteralNumberHex */ .chroma .mh { color: #f5871f }
/* LiteralNumberInteger */ .chroma .mi { color: #f5871f }
/* LiteralNumberIntegerLong */ .chroma .il { color: #f5871f }
/* LiteralNumberOct */ .chroma .mo { color: #f5871f }
/* Operator */ .chroma .o { color: #4d4d4c }
/* OperatorWord */ .chroma .ow { color: #4d4d4c }
/* Punctuation */ .chroma .p { color: #4d4d4c }
/* Comment */ .chroma .c { color: #8e908c }
/* CommentHashbang */ .chroma .ch { color: #8e908c }
/* CommentMultiline */ .chroma .cm { color: #8e908c }
/* CommentSingle */ .chroma .c1 { color: #8e908c }
/* CommentSpecial */ .chroma .cs { color: #8e908c }
/* CommentPreproc */ .chroma .cp { color: #a3685a }
/* CommentPreprocFile */ .chroma .cpf { color: #718c00 }
/* Generic */ .chroma .g { color: #4d4d4c }
/* GenericDeleted */ .chroma .gd { color: #c82829 }
/* GenericEmph */ .chroma .ge { color: #4d4d4c; font-style: italic }
/* GenericError */ .chroma .gr { color: #4d4d4c }
/* GenericHeading */ .chroma .gh { color: #4271ae }
/* GenericInserted */ .chroma .gi { color: #718c00 }
/* GenericOutput */ .chroma .go { color: #4d4d4c }
/* GenericPrompt */ .chroma .gp { color: #4d4d4c }
/* GenericStrong */ .chroma .gs { color: #4d4d4c; font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #4271ae }
/* GenericTraceback */ .chroma .gt { color: #4d4d4c }
/* GenericUnderline */ .chroma .gl { color: #4d4d4c; text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: #ffffff; text-decoration: underline }

@media (prefers-color-scheme: dark) {
/* Background */ .chroma { color: #c5c8c6; background-color: #1d1f21 }
/* Other */ .chroma .x { color: #c5c8c6 }
/* Error */ .chroma .err { color: #cc6666 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%; background-color: #373b41 }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .k { color: #b294bb }
/* KeywordConstant */ .chroma .kc { color: #b294bb }
/* KeywordDeclaration */ .chroma .kd { color: #b294bb }
/* KeywordNamespace */ .chroma .kn { color: #b294bb }
/* KeywordPseudo */ .chroma .kp { color: #b294bb }
/* KeywordReserved */ .chroma .kr { color: #b294bb }
/* KeywordType */ .chroma .kt { color: #cc6666 }
/* Name */ .chroma .n { color: #81a2be }
/* NameAttribute */ .chroma .na { color: #81a2be }
/* NameBuiltin */ .chroma .nb { color: #81a2be }
/* NameBuiltinPseudo */ .chroma .bp { color: #cc6666 }
/* NameClass */ .chroma .nc { color: #81a2be }
/* NameConstant */ .chroma .no { color: #de935f }
/* NameDecorator */ .chroma .nd { color: #de935f }
/* NameEntity */ .chroma .ni { color: #81a2be }
/* NameException */ .chroma .ne { color: #81a2be }
/* NameFunction */ .chroma .nf { color: #81a2be }
/* NameFunctionMagic */ .chroma .fm { color: #81a2be }
/* NameLabel */ .chroma .nl { color: #81a2be }
/* NameNamespace */ .chroma .nn { color: #81a2be }
/* NameOther */ .chroma .nx { color: #81a2be }
/* NameProperty */ .chroma .py { color: #81a2be }
/* NameTag */ .chroma .nt { color: #b294bb }
/* NameVariable */ .chroma .nv { color: #81a2be }
/* NameVariableClass */ .chroma .vc { color: #81a2be }
/* NameVariableGlobal */ .chroma .vg { color: #81a2be }
/* NameVariableInstance */ .chroma .vi { color: #cc6666 }
/* NameVariableMagic */ .chroma .vm { color: #81a2be }
/* Literal */ .chroma .l { color: #b5bd68 }
/* LiteralDate */ .chroma .ld { color: #b5bd68 }
/* LiteralString */ .chroma .s { color: #b5bd68 }
/* LiteralStringAffix */ .chroma .sa { color: #b5bd68 }
/* LiteralStringBacktick */ .chroma .sb { color: #b5bd68 }
/* LiteralStringChar */ .chroma .sc { color: #b5bd68 }
/* LiteralStringDelimiter */ .chroma .dl { color: #b5bd68 }
/* LiteralStringDoc */ .chroma .sd { color: #b5bd68 }
/* LiteralStringDouble */ .chroma .s2 { color: #b5bd68 }
/* LiteralStringEscape */ .chroma .se { color: #b5bd68 }
/* LiteralStringHeredoc */ .chroma .sh { color: #b5bd68 }
/* LiteralStringInterpol */ .chroma .si { color: #a3685a }
/* LiteralStringOther */ .chroma .sx { color: #b5bd68 }
/* LiteralStringRegex */ .chroma .sr { color: #8abeb7 }
/* LiteralStringSingle */ .chroma .s1 { color: #b5bd68 }
/* LiteralStringSymbol */ .chroma .ss { color: #de935f }
/* LiteralNumber */ .chroma .m { color: #de935f }
/* LiteralNumberBin */ .chroma .mb { color: #de935f }
/* LiteralNumberFloat */ .chroma .mf { color: #de935f }
/* LiteralNumberHex */ .chroma .mh { color: #de935f }
/* LiteralNumberInteger */ .chroma .mi { color: #de935f }
/* LiteralNumberIntegerLong */ .chroma .il { color: #de935f }
/* LiteralNumberOct */ .chroma .mo { color: #de935f }
/* Operator */ .chroma .o { color: #c5c8c6 }
/* OperatorWord */ .chroma .ow { color: #c5c8c6 }
/* Punctuation */ .chroma .p { color: #c5c8c6 }
/* Comment */ .chroma .c { color: #969896 }
/* CommentHashbang */ .chroma .ch { color: #969896 }
/* CommentMultiline */ .chroma .cm { color: #969896 }
/* CommentSingle */ .chroma .c1 { color: #969896 }
/* CommentSpecial */ .chroma .cs { color: #969896 }
/* CommentPreproc */ .chroma .cp { color: #a3685a }
/* CommentPreprocFile */ .chroma .cpf { color: #b5bd68 }
/* Generic */ .chroma .g { color: #c5c8c6 }
/* GenericDeleted */ .chroma .gd { color: #cc6666 }
/* GenericEmph */ .chroma .ge { color: #c5c8c6; font-style: italic }
/* GenericError */ .chroma .gr { color: #c5c8c6 }
/* GenericHeading */ .chroma .gh { color: #81a2be }
/* GenericInserted */ .chroma .gi { color: #b5bd68 }
/* GenericOutput */ .chroma .go { color: #c5c8c6 }
/* GenericPrompt */ .chroma .gp { color: #c5c8c6 }
/* GenericStrong */ .chroma .gs { color: #c5c8c6; font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #81a2be }
/* GenericTraceback */ .chroma .gt { color: #c5c8c6 }
/* GenericUnderline */ .chroma .gl { color: #c5c8c6; text-decoration: underline }
	/* TextWhitespace */ .chroma .w { color: #1d1f21; text-decoration: underline }

}
