{{ define "nav" }}
{{ partial "nav/breadcrumbs.html" . }}
{{ end }}

{{ define "main" }}

<div class="flex flex-col pb-16-safe">
	<section class="flex flex-col space-y-6">
		<header class="flex flex-col space-y-1">
			<h1 id="title" class="font-bold font-display text-2xl md:text-3xl tracking-wide md:leading-tight">{{ .Title }}</h1>
			<span id="date" class="font-mono text-th-muted text-sm md:text-base">{{ .Date.Format "January 2, 2006" }}</span>
		</header>
		<article class="markdown">
			{{ .Content }}
		</article>
	</section>

	<hr class="th-muted opacity-25 mt-16 ">

	<section id="subscribe" class="flex flex-col items-center md:grid md:grid-cols-12 md:items-center">
		<div class="mt-12 md:mt-40 self-stretch md:row-start-1 md:row-end-2 md:col-start-1 md:col-span-9">
			<div class="flex flex-col space-y-1">
				<div class="flex flex-col">
					<p class="hidden sm:block text-th-muted text-base font-mono mb-2 pr-0 sm:w-[70%]">Expect posts on engineering, bootstrapping, and ramblings</p>
					{{ partial "sub_form.html" . }}
				</div>
				<a href="/index.xml" class="max-w-max font-mono text-base hidden md:block">or subscribe with rss</a>
			</div>
		</div>

		<picture class="pointer-events-none filter drop-shadow w-[50%] max-w-[200px] h-48 -mt-2 md:h-auto md:mt-0 md:w-auto overflow-hidden md:row-start-1 md:row-end-2 md:col-start-9 md:col-span-4">
			<source srcset="/images/call_to_action.webp" type="image/webp" media="(min-width: 768px)"></source>
			<source srcset="/images/call_to_action.png" type="image/png" media="(min-width: 768px)"></source>
			<source srcset="/images/holding.webp" type="image/webp"></source>
			<source srcset="/images/holding.png" type="image/png"></source>
			<img src="/images/call_to_action.png" alt="Subscribe to updates">
		</picture>

		<div class="md:hidden w-4/6 flex flex-col space-y-4">
			<hr class="th-muted opacity-10 drop-shadow">
			<a href="/index.xml" class="max-w-max font-mono text-base block self-center">subscribe with rss</a>
		</div>

	</section>
</div>

{{ end }}
