{{ define "nav" }}
{{ partial "nav/breadcrumbs.html" . }}
{{ end }}

{{ define "main" }}

<div class="flex flex-col pb-16-safe">
	<section class="flex flex-col space-y-6">
		<header class="flex flex-col space-y-1">
			<h1 id="title" class="font-bold font-display text-2xl md:text-3xl tracking-wide md:leading-tight">{{ .Title }}</h1>
			<span id="date" class="font-mono text-th-muted text-md">{{ .Date.Format "January 2, 2006" }}</span>
		</header>
		<article class="markdown">
			{{ .Content }}
		</article>
	</section>

	<hr class="th-muted opacity-25 mt-16 ">

	<section id="subscribe" class="grid grid-cols-12 grid-rows-1 items-end">
		<div class="mt-40">
			<div class="flex flex-col space-y-1">
				<div class="flex flex-col">
					<p class="text-th-muted text-md font-mono mb-2 pr-0 sm:w-[70%]">Expect posts on engineering, bootstrapping, and ramblings</p>
					{{ partial "sub_form.html" . }}
				</div>
				<a href="/index.xml" class="max-w-max font-mono text-md">or subscribe with rss</a>
			</div>
		</div>
		<picture class="pointer-events-none filter drop-shadow-sm">
			<source srcset="/images/call_to_action.webp" type="image/webp"></source>
			<source srcset="/images/call_to_action.png" type="image/png"></source>
			<img src="/images/call_to_action.png" alt="Subscribe to updates">
		</picture>
	</section>
</div>

{{ end }}
