extends layouts/default.pug

block content
	main(itemscope itemtype="http://schema.org/Person")
		a(href="https://twitter.com/sBaildon")
			span(itemprop="givenName") Sean
			=" "
			span(itemprop="familyName") Baildon

		p
			span(itemprop="jobTitle") Software Engineer
			=" working in "
			span(itemprop="homeLocation") Cheltenham.

		div#links
			a(href="mailto:hello@baildon.co" itemprop="email") mail
			="/"
			a(href="https://github.com/sBaildon") code
			="/"
			a(href="/resume.pdf").resume resume
