<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>{{ .Title }}</title>
		{{ $style := resources.Get "main.css" | resources.Fingerprint "sha256" }}
		<link rel="stylesheet" href="{{ $style.Permalink }}" />
		{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
		{{ end -}}
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body class="md:max-w-xl mt-4 mx-4 md:mx-8 md:ml-24 md:mr-0 text-th-primary bg-th-background font-display">
		<div class="flex flex-col space-y-3">
			<nav class="flex-shrink-0 h-8">
				{{ block "nav" . }}
				{{ .Content }}
				{{ end }}
			</nav>
			<main class="mt-16 md:mt-24">
				{{ block "main" . }}
				{{ .Content }}
				{{ end }}
			</main>
		</div>
	</body>

</html>
