a {
  text-decoration: none;
  color: #2AA198;
  padding: 0 2px -10px 2px;
  transition: 0.2s ease; }
  a:hover {
    transition: 0.2s ease;
    border-bottom: 1px dotted #2AA198; }
  a:visited {
    color: #2AA198; }

a.secondary {
  opacity: 0.7; }
  a.secondary:hover {
    opacity: 1; }

::-moz-selection {
  background: rgba(75, 97, 87, 0.2); }

::selection {
  background: rgba(75, 97, 87, 0.2); }

body {
  font-size: 1.4em;
  font-family: 'Source Code Pro', serif;
  line-height: 165%;
  background: #FDF6E3;
  color: #93A1A1; }
