.flexer {
  display: flex;
  display: -webkit-flex;
  height: 85%; }

.links {
  font-size: 0.8em;
  padding-top: 25px; }

.content {
  text-align: center;
  width: 95%;
  max-width: 500px;
  margin: auto; }
