@import 'extra/mixins';
@import 'extra/colours';

a {
        text-decoration: none;
        color: $colour-link-unvisited;
        padding: 0 2px -10px 2px;
        transition: 0.2s ease;

        &:hover {
                transition: 0.2s ease;
                border-bottom: 1px dotted $colour-link-unvisited;
        }

        &:visited {
                color: $colour-link-visited;
        }
}

a.secondary {
        opacity: 0.7;

        &:hover {
                opacity: 1;
        }
}

@include selection {
        background: rgba($colour-selection, 0.2);
}

body {
        font-size: 1.4em;
        font-family: 'Source Code Pro', serif;
        line-height: 165%;
        background: $colour-background;
        color: $colour-text;
}

body, html {
        height: 100%;
}
