.links {
        font-size: 0.8em;
        padding-top: 35px;
}

.content {
        width: 80%;
        max-width: 500px;
	padding: 6em 0 0 6em;
}

@media only screen and (max-device-width: 800px) {
	.content {
		padding: 1em 0 0 1em;
	}

}
