.flexer {
        display: flex;
        display: -webkit-flex;
        height: 85%;
}

.links {
        font-size: 0.8em;
        padding-top: 35px;
}

.content {
        text-align: center;
        width: 80%;
        max-width: 500px;
        margin: auto;     
}
