<form action="https://buttondown.email/api/emails/embed-subscribe/sbaildon" method="post" target="popupwindow"
	onsubmit="window.open('https://buttondown.email/sbaildon', 'popupwindow')">
	<fieldset
		class="grid grid-rows-2 gap-y-2 sm:grid-cols-[1fr,max-content] sm:grid-rows-1 p-1.5 bg-slate-50 dark:bg-stone-700 drop-shadow border border-slate-100 dark:border-stone-600 rounded focus-within:ring-2 focus-within:ring-rose-400"
	>
		<input type="email"
			class="py-1 px-2 font-mono font-md bg-transparent placeholder-slate-400 dark:placeholder-stone-400 focus:outline-none"
			placeholder="your@email.com" name="email" id="bd-email"
		/>

		<input type="hidden" value="1" name="embed" />

		<input type="submit"
			class="bg-rose-500 dark:bg-rose-400 rounded hover:bg-rose-600 cursor-pointer text-white font-bold drop-shadow focus:outline-none focus:bg-rose-600 focus:ring focus:ring-rose-400 focus:ring-offset-1 hover:drop-shadow-lg duration-300 tracking-wide font-display transition duration-75 py-1 px-2"
			value="Get updates"
		/>
	</fieldset>
</form>
