<section class="flex flex-col space-y-3">
	<h3 class="font-bold">Posts from others</h3>
	<section class="flex flex-col space-y-4">
		
		<div class="bg-gray-100 p-3">
			<h4>
				<a href="https://drewdevault.com/2021/05/08/Try-not-to-make-unlikable-software.html" target="_blank" rel="noopener">I try not to make unlikable software (and features)</a>
			</h4>
			<small>
				via <a href="https://drewdevault.com">Drew DeVault&#39;s blog</a>
			</small>
			<small>May 8, 2021</small>
		</div>
		
		<div class="bg-gray-100 p-3">
			<h4>
				<a href="https://trapital.co/2021/05/04/dj-khaleds-album-release-strategy-for-khaled-khaled/" target="_blank" rel="noopener">DJ Khaled’s Album Release Strategy for ‘Khaled Khaled’</a>
			</h4>
			<small>
				via <a href="https://trapital.co">Trapital by Dan Runcie</a>
			</small>
			<small>May 4, 2021</small>
		</div>
		
		<div class="bg-gray-100 p-3">
			<h4>
				<a href="https://danluu.com/essential-complexity/" target="_blank" rel="noopener">Against essential and accidental complexity</a>
			</h4>
			<small>
				via <a href="https://danluu.com/atom/index.xml">Dan Luu</a>
			</small>
			<small>December 29, 2020</small>
		</div>
		
	</section>
</section>
