{{ define "main" }}
<main aria-role="main" class="max-w-md flex flex-col gap-y-24">
	<div class="flex flex-col space-y-5">
		<header>
			<h1 class="text-3xl">Sean Baildon</h1>
			<h2 class="text-md font-mono">Building software in <a class=""
					href="https://nomadlist.com/@sbaildon">London</a></h2>
		</header>
		<nav class="text-md flex flex-row space-x-2 font-mono">
			<a href="/writings">writings</a>
			<span>/</span>
			<a href="https://sr.ht/~sbaildon/">code</a>
			<span>/</span>
			<a href="mailto:sean@baildon.co">email</a>
		</nav>
	</div>
	<picture>
		<source srcset="/images/sean.webp" type="image/webp"></source>
		<source srcset="/images/sean.png" type="image/png"></source>
		<img src="/images/sean.png" alt="Chillaxing, eating, and working at a desk">
	</picture>
</main>
{{ end }}
