<!DOCTYPE html>
<html>

<head>
	<title>Sean Baildon</title>
	<meta charset="utf-8">
	<meta name="description" content="When in doubt, backdash out">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="index.css">
</head>

<body itemscope itemtype="http://schema.org/Person">
	<header>
		<a href="https://twitter.com/sbaildon">
			<span itemprop="givenName">Sean</span> <span itemprop="familyName">Baildon</span>
		</a>
	</header>

	<aside>
		Working in <span itemprop="homeLocation">London</span>
	</aside>

	<nav>
		<a href="mailto:hello@baildon.co" itemprop="email">mail</a>
		/
		<a href="https://github.com/sbaildon">code</a>
	</nav>
</body>

</html>
